* {box-sizing: border-box;}

.items {max-width: 800px; margin: 0 auto;}
.items .row {margin: 50px auto; background-color: #ddd; text-align: center; clear: both; display: table; }
.item {
  float: left; width: 20%; padding: 20px 10px; margin: 20px 2.5%;
  background-color: rgba(0,40,100,0.65); color: #fff; transition: all ease 0.2; -webkit-transition: background-color ease-out 0.2s;
}
.item:hover {background-color: rgba(0,40,100,1);}


@media(max-width: 767px){
  .item {float:none; width: 100%; margin: 0 0 20px;}
  .item:last-child {margin-bottom: 0;}
  .items .row {padding: 20px;}
}
